:root {
  --space-cadet: #1B2845;
  --indigo-dye: #274060;
  --lapis-lazuli: #335C81;
  --un-blue: #5899E2;
  --argentinian-blue: #65AFFF;
  --whitesmoke: #f5f5f5;
}

* {
  background-color: var(--space-cadet)
}

.portfolio-footer {
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  inset: auto 0 0 0;
}

h1, p, h5{
  color: var(--whitesmoke);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link {
  color: var(--argentinian-blue)
}

.initials {
  color: var(--argentinian-blue);
}

.card-icon {
  font-size: 20px;
}

.project-title {
  color: var(--un-blue);
}



/* .card-img-top {
  height: 10rem;
} */